[submodule "frontend"]
	path = frontend
	url = https://github.com/AnthonyS051105/ngebolang-mapid.git
[submodule "backend"]
	path = backend
	url = https://github.com/AnthonyS051105/ngebolang-mapid-backend.git
